body{
    margin:0;
    padding:0;
    background-color: black;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}
.App{
    position : relative;
    height: 750px;
    width:380px;
    border-radius:40px;
    background-color:rgb(38,38,38);
    padding: 20px;
}
